.uespEsoServerStatus {
	float: right;
	border: solid 1px gray;
	padding: 0.5em;
	margin: 0.4em;
}

.uespEsoServer {
	
}

.uespEsoServerStatus h1 {
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	text-align: center;
}

.uespEsoServerUpdated {
	font-size: smaller;
	color: gray;
}

.uespEsoServerTitle {
	display: inline-block;
	font-weight: bold;
	width: 110px;
	text-align: right;
	overflow: hidden;
	white-space: nowrap;
	vertical-align: bottom;
}

.uespEsoStatusUp {
	display: inline-block;
	color: green;
	font-weight: bold;
}

.uespEsoStatusDown {
	display: inline-block;
	color: red;
	font-weight: bold;
}

.uespEsoStatusUnknown {
	display: inline-block;
	color: yellow;
	font-weight: bold;
}