/*
 * Vibrant Book Skin, originally by Aristeo. Built upon the Monobook theme.
 */

body {
  background: #FAEBD7 url(/w/extensions/UespCustomCode/files/Parchment_bg.jpg) 0 0 repeat;
}

pre {
  background-color: #EFE1BC;
}

div.pBody, #content, #footer {
  background-color: #FBEFD5;
}

#p-cactions ul li a {
  background: #FBEFD5;
}

#p-cactions ul li.selected a {
  background: #FBEFD5;
}

table {
  background: #FBEFD5;
}

#pagehistory li {
  background: #FDF5E6;
}

#pagehistory li.selected {
  background-color: #FAEBD7;
}

/* Explicitly set padding (and no margins) for ul and ol elements to fix inconsistencies caused by 
   Firefox applying padding but IE applying margins */
ul, ol {margin-left: 0; padding-left: 1.5em;}
ul ul {margin-top: 0px;}
.portlet ul ul {padding-left:0.75em;}

table.diff, td.diff-otitle, td.diff-ntitle {
    background: #FDF5E6;
}

/* Fixes the white border of doom around thumbnails */
div.tleft, div.tright, div.tnone {
  border-color: #FBEFD5;
}

#toc, #catlinks {
  background-color: #FDF5E6;
}

code {
  background-color: #FDF5E6;
}

table.gallery {
  background: #FAEBD7;
}

table.gallery td {
  background: #FAEBD7;
  border: solid 2px #FAEBD7;
}

div.gallerybox {
  background-color: #FDF5E6;
  border: solid 1px #CCCCCC;
}

div.thumb div {
  background-color: #FDF5E6;
}

table.wikitable, 
table.greylapse, table.graylapse {
  background: #FDF5E6;
}

table.wikitable th, 
table.greylapse th, table.graylapse th {
  background: #F5DEB3;
}

/* SPOILER SHOW/HOME **********************************************************
 * This is used for content sections that can be shown or hidden
 * (e.g. http://en.wikipedia.org/wiki/Template:Dynamic_navigation_box).
 *  Taken from http://en.wikipedia.org/wiki/MediaWiki:Monobook.css 
 */
div.Boxmerge, div.NavFrame {
    margin: 0px;
    padding: 2px;
    border: 1px solid #aaaaaa;
    text-align: center;
    border-collapse: collapse;
    font-size: 95%;
}
div.Boxmerge div.NavFrame {
    border-style: none;
    border-style: hidden;
}
div.NavFrame + div.NavFrame {
    border-top-style: none;
    border-top-style: hidden;
}
div.NavPic {
    background-color: #ffffff;
    margin: 0px;
    padding: 2px;
    float: left;
}
div.NavFrame div.NavHead {
    height: 1.6em;
    font-weight: bold;
    font-size: 100%;
    background-color: #efefef;
    position:relative;
}
div.NavFrame p {
    font-size: 100%;
}
div.NavFrame div.NavContent {
    font-size: 100%;
}
div.NavFrame div.NavContent p {
    font-size: 100%;
}
div.NavEnd {
    margin: 0px;
    padding: 0px;
    line-height: 1px;
    clear: both;
}
a.NavToggle {
    position:absolute;
    top:0px;
    right:3px;
    font-weight:normal;
    font-size:smaller;
}
#coordinates {  
     position:absolute;
     z-index:1;
     border:none;
     background:none;
     right:30px;
     top:3.7em;
     float:right;
     margin:0.0em;
     padding:0.0em;
     line-height:1.5em;
     text-align:right;
     text-indent:0;
     font-size:85%;
     text-transform:none;
     white-space:nowrap;
}

td.expneg {
     text-align:right;
     background:#ff9999;
}

td.exppos {
     text-align:right;
     background:#99ff99;
}

#firstHeading {line-height: 0.8em; padding-bottom: 0.15em}
#siteSub {display: inline;}