/* Bread Crumb Trail Class */
/* change parent division from static to relative, so breadcrumb is positioned within bodyContent */
#bodyContent {
  position: relative;
}

div.breadcrumb,
table.breadcrumb {
  position: absolute;
  border-collapse: collapse;
  z-index: 1;
  right: 0em;
  top: 0.6em;
  float:right;
  margin: 0em;
  padding: 0;
  font-size: 90%;
  height: auto;
}

div.breadcrumb p,
table.breadcrumb p {
  background-color: #FBEFD5;
}

/* Position an icon in the upper right corner of page; positioned relative to bodyContent */
div.pageicon {
    position:absolute;
    z-index:50;
    right:0px;
    top:-34px;
    height: 30px;
    padding: 0;
    margin: 0;
}

div.pageicon a, div.pageicon img {
   position:absolute;
   bottom: 0;
   right: 0;
   padding: 0;
   margin: 0;
}

/* Explicitly set padding (and no margins) for ul and ol elements to fix inconsistencies caused by 
   Firefox applying padding but IE applying margins */
ul, ol {margin-left: 0; padding-left: 1.5em;}

/* Move headings to a lower z-index so their horizontal rules are behind floating images and tables */
h1, h2, h3, h4, h5, h6, hr {z-index: -100;}
div.thumb, table.wikitable, table.prettytable {z-index: 100;}

/* Makes redirects appear in italics on [[Special:Allpages]] */
.allpagesredirect {
    font-style: italic;
}

/* Change default vertical alignment for all tables */
td, th, tr {
    vertical-align: top;
}

/* Prevent lists in tables from adding more vertical space than non-list entries */
table td ul, table td ol, table td dl, table td li, table td dd, table td dt {
    margin-top: 0;
    border-top-width: 0;
    padding-top: 0;
    margin-bottom: 0;
    border-bottom-width: 0;
    padding-bottom: 0;
}

/* Wikitable - Adds another table variant for editors */
table.wikitable {
  margin: 1em 1em 1em 0;
  background: #f9f9f9;
  border: 1px #aaaaaa solid;
  border-collapse: collapse;
}

table.wikitable th, table.wikitable td {
  border: 1px #aaaaaa solid;
  padding: 0.2em;
}

table.wikitable th {
  background: #efefef;
  text-align: center;
}

table.wikitable caption {
  margin-left: inherit;
  margin-right: inherit;
  margin-bottom: -0.5em;
  font-weight: bold;
}

/* Greylapse - Collapsed table with grey coloration. */
table.graylapse,
table.greylapse {
    border-collapse: collapse;
    border-color: #aaaaaa;
    border-style: solid;
    border-width: 1px;
    background: #f9f9f9;
}

table.graylapse tr,
table.greylapse tr {
    vertical-align: top;
}

table.graylapse th,
table.greylapse th {
    vertical-align: top;
    text-align: left;
    background: #efefef;
    border-color: #aaaaaa;
    border-style: solid;
    border-width: 1px;
    padding-left: 4px;
    padding-right: 4px;
}

table.graylapse td,
table.greylapse td {
    vertical-align: top;
    border-color: #aaaaaa;
    border-style: solid;
    border-width: 1px;
    padding-left: 4px;
    padding-right: 4px;
}

table.graylapse td p, 
table.graylapse ul, table.graylapse ol, table.graylapse dl, 
table.graylapse li, table.graylapse dd, table.graylapse dt,
table.greylapse td p, 
table.greylapse ul, table.greylapse ol, table.greylapse dl, 
table.greylapse li, table.greylapse dd, table.greylapse dt {
    margin-top: 0;
    border-top-width: 0;
    padding-top: 0;
    margin-bottom: 0;
    border-bottom-width: 0;
    padding-bottom: 0;
}

/* hiddentable - Table with no borders, padding, spacing, etc. (needed with nested tables) */
table.hiddentable {
  margin: 0px;
  background: transparent;
  border: 0px none;
}
table.hiddentable th, table.hiddentable td {
  border: 0px none;
  padding: 0px;
  background: transparent;
}

/* classes to alter individual features of tables; should only be used in conjunction
   with another class (e.g., class="wikitable compress" */
/* compress: reduce whitespace in table */
table.compress th {
  padding: 1px 4px 1px 4px;
}
table.compress td {
  padding: 0 4px 0 4px;
}
table.compress caption {
  margin-bottom: -0.8em;
}

table.compress td p, 
table.compress ul, table.compress ol, table.compress dl, 
table.compress li, table.compress dd, table.compress dt {
    margin-top: 0;
    border-top-width: 0;
    padding-top: 0;
    margin-bottom: 0;
    border-bottom-width: 0;
    padding-bottom: 0;
}

/* vmid: all elements vertically centered in cells */
table.vmid td, table.vmid th, table.vmid tr {
    vertical-align: middle;
}

/* vtop: all elements vertically aligned at top of cells */
table.vtop td, table.vtop th, table.vtop tr {
    vertical-align: top;
}

/* firstleft: first column left-aligned, rest center aligned */
table.firstleft {text-align: center;}
table.firstleft td:first-child, table.firstleft th:first-child { text-align: left; }

/* centered: horizontally centered table (can also be used for any other block-level element) */
.centered, table.centered { margin-left:auto; margin-right:auto;}

/* Allow limiting of which header levels are shown in a TOC; <div class="toclimit-3">, for
   instance, will limit to showing ==headings== and ===headings=== but no further (as long as
   there are no =headings= on the page, which there shouldn't be according to the MoS).
   Code taken from wikipedia's common.css settings. */
.toclimit-2 .toclevel-2 {display:none;}
.toclimit-3 .toclevel-3 {display:none;}
.toclimit-4 .toclevel-4 {display:none;}
.toclimit-5 .toclevel-5 {display:none;}
.toclimit-6 .toclevel-6 {display:none;}
.toclimit-7 .toclevel-7 {display:none;}

/* Make the header on the main page go away (replaces a whole bunch of js previously in Monobook.js) */
body.page-Main_Page h1.firstHeading { display:none;}
body.page-Main_Page #siteSub { display:none;}
body.page-Main_Page #contentSub { display:none;}

#siteSub {
	display: inline;
	float:right;
        clear:both;
	text-align: right;
	font-size: 84%;
	line-height: 1.3em;
	margin: 0 0 0 0;
	padding-top: 0em;
	padding-left: 1em;
	width: 50%;
	font-weight: normal;
	font-style: italic;
}

#contentSub {
	line-height: 1.3em;
}

