.uslLinkTable {
	border-collapse: collapse;
	border: 1px solid #aaa;
	background: #FDF5E6;
}

.uslLinkTable th {
	border: 1px solid #aaa;
	text-align: center;
	background: #f5deb3;
	padding: 0.2em 0.4em;
}

.uslLinkTable td {
	border: 1px solid #aaa;
	padding: 0.2em 0.4em;
}

.uslCreateButtonRow {
	text-align: center;
}

.uslCreateTable {
	border-collapse: collapse;
	border: 1px solid #aaa;
	background: #FDF5E6;
}

.uslCreateTable th {
	border: 1px solid #aaa;
	text-align: right;
	background: #f5deb3;
	padding: 0.2em 0.4em;
}

.uslCreateTable td {
	border: 1px solid #aaa;
	padding: 0.2em 0.4em;
}

#uslCreateButton:disabled {
	background: #fcc;
}

#uslLinkText:invalid {
  border-color: red;
}

#uslShortLinkText:invalid {
  border-color: red;
}
