.header {
	display: none !important;
}

#page-actions {
	display: none;
}

@media screen and (max-width:899px) {
 
	#uespNewsFARow {
		display: table-cell;
		width: 100% !important;
	}
	
	#uespNewsCell {
		display: block;
		width: auto !important;
	}
	
	#uespFACell {
		display: block;
		width: auto !important;
	}
}

#uespTopBannerMobileAd {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
}

#mw-mf-page-center {
	padding: 0 !important;
}

div#content {
    margin: 1px 12px 0 !important;	
}

#mf-main-page img[alt="Mainpage-logo.png"] {
    width: 320px !important;
}
#footer-info-mobile-switcher {
	display: none;
}