#pageSpeedGraphRoot {
	background-color: #fff;
	border: solid 1px gray;
	width: 600px;
	height: 600px;
	padding-left: 20px;
	padding-top: 20px;
}

.pageSpeedGraph {
	height: 500px;
}

.psGraphBar {
	background-color: #f66;
	border: solid 1px gray;
	height: var(--bar-value);
	width: 20px;
	margin: 30px 0;
	border-radius: 0 3px 3px 0;
	display: inline-block;
	margin-right: 5px;
	position: relative;
}

.psGraphBar::after {
	content: attr(data-name);
	position: absolute;
	transform: rotate(-90deg);
	bottom: -40px;
	left: -14px;
	text-align: right;
	width: 50px;
	color: black;
}

.psGraphBar::before {
	content: attr(data-bin);
	position: absolute;
	transform: rotate(-90deg) translatex(40px);
	top: 10px;
	width: 22px;
	color: black;
}

.psGraphBarHidden {
	width: 0px;
	    border: none;
}

#psInputForm {
	margin-bottom: 10px;
}

.psInputBox {
	display: inline-block;
	border: solid 1px #aaa;
	padding: 5px;
	line-height: 2em;
}