.uesppatBreadcrumb { 
	display: block;
	font-size: 95%;
}

.uesppatBreadcrumb input {
	font-size: 95%;
}

#uesppatShowListTierForm {
	display: inline-block;
	vertical-align: top;
}

.uesppatBadShipment {
	background-color: #ffcccc;
}

#uesppatCreateShipments td:nth-child(5) {
	white-space: nowrap;
}

#uesppatCreateShipments tr:hover{
	cursor: pointer;
	background-color: #ccf;
}

#uesppatDeletedShipments tr:hover{
	cursor: pointer;
	background-color: #fcc;
}

#uesppatEditWall {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	background-color: rgba(0,0,0, 0.7);
}

#uesppatEditShipEditBox {
	position: fixed;
	top: 200px;
	left: 300px;
	width: 400px;
	height: 500px;
	z-index: 200;
	background-color: #eef;
	border: solid 2px darkgray;
	font-size: 13px;
	padding: 10px;
}

#uesppatEditShipDeleteButton {
	float: left;
}

#uesppatEditShipSaveButton {
	float: right;
}

#uesppatEditShipCancelButton {
	margin-right: 15px;
	float: right;
}

#uesppatEditShipTitle {
	padding-bottom: 10px;
	font-weight: bold;
	text-align: center;
}

.uesppatEditShipLabel {
	width: 100px;
	text-align: right;
	display: inline-block;
	padding-right: 10px;
	height: 1.5em;
}

#uesppatEditShipEditBox input[type=text] {
	width: 200px;
	text-align: left;
	display: inline-block;
}

#uesppatEditShipEditBox input[readonly] {
	background-color: #eee;
	border: solid 1px #bbb;
}

#uespPatEditShipmentForm input[readonly] {
	background-color: #eee;
	border: solid 1px #bbb;
}

#uespWikiPatronCopyButton {
	float: right;
}

.uespPatEditRewardForm label {
	width: 100px;
	text-align: right;
	display: inline-block;
}

.uespPatOk {
	background-color: #cfc;
}

.uespPatWarning {
	background-color: #ffc;
}

.uespPatError {
	background-color: #fcc;
}

#uesppatEditShipAddressCountryCode {
	display: inline-block;
	cursor: pointer;
	color: #c00;
	font-weight: bold;
}

#uesppatEditShipDeminsValue {
	display: inline-block;
	color: #c00;
	font-weight: normal;
}

#uesppatEditShipmentDeminis {
	display: inline-block;
	color: #c00;
	font-weight: normal;
}

.uesppatEditTableLink {
	float: right;
}

.uesppatWikiUserCell {
	font-size: smaller;
}

.uesppatTagCell {
	font-size: smaller;
}

.uesppatDateTimeCell {
	font-size: smaller;
}

.uesppatTierSpecialNote {
	background-color: #ff3;
}

.uesppatShipMethodDeminisWarning {
	background-color: #fcc;
}

.uesppatCustomShipValueLabel {
	display: inline-block;
	width: 120px;
	text-align: right;
	font-weight: bold;
}

.uesppatCustomShipValue {
	width: 200px;
	padding: 3px;
	margin: 3px;
}

.uespPatEditLabel {
	width: 100px;
	font-weight: bold;
	text-align: right;
	display: inline-block;
}

#uespPatEditForm input, #uespPatEditForm select {
	margin: 3px;
}

#uesppatSaveTagsForm input {
	margin: 3px;
}

.uesppatEditTagButton {
	content: "x";
	width: 12px;
	height: 12px;
	padding: 2px;
	background-color: #ccc;
	color: #777;
	border: solid 1px #aaa;
	cursor: pointer;
	display: inline-block;
	position: relative;
	top: 1px;
	text-align: center;
	padding-bottom: 4px;
	padding-top: 0px;
}

.uesppatEditTagButton:hover {
	background-color: #eee;
}

#uesppatSetShipMethodButton,
#uesppatResetShipMethodButton {
	float: right;
}

#uesppatViewShipments td:nth-child(5),
#uesppatViewShipments td:nth-child(6),
#uesppatViewShipments td:nth-child(8),
#uesppatViewShipments td:nth-child(10),
#uesppatViewShipments td:nth-child(12) {
	font-size: small;
}

table.wikitable > * > tr > td {
	padding: 0.1em;
}